*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 56% 18%;
    background-color: rgb(230, 230, 230);
}


#top-left{
    padding: 40px;
}

#square{
    height: 25px;
    width: 25px;
    rotate: 45deg;
    background-color: black;
}

#top-right{
    padding: 40px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

#top-right h4{
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 400;
}

#top-right h5{
    font-size: 14px; 
    font-weight: 400;
}

#top-right h6{
    display: none;
}

#center{
    grid-column: 1/3;
    padding: 40px;
}

#center h1{
    font-size: 7.5vw;
    line-height: 6.5vw;
    font-weight: 50; 
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

#center h1:nth-child(2n){
    text-align: center;
}

#bottom{
    grid-column: 1/3;
    padding: 35px;
}
 
#bottom p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 70%;
}
#right{
    grid-row: 1 / 4;
    grid-column: 3;
    padding: 40px;
    padding-right: 130px;
    padding-left: 0;
}

#right video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#search-icon i{
    position: absolute;
    top: 50px;
    right: 30px;
}

#arrow{
    position: absolute;
    /* height: 70px;
    width: 70px; */
    /* justify-self: center;
    align-self: center; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    padding: 15px;
    background-color: rgb(228, 67, 9);
    border-radius: 50%;
}

#arrow i{
    font-size: 50px;
    font-weight: 50;
}

@media (max-width: 600px) {
    #main{
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 35% 8% 47%;
    }

    #top-left{
        padding: 25px;
    }
    
    #square{
        height: 15px;
        width: 15px;
        rotate: 45deg;
        background-color: black;
    }
    
    #top-right{
        grid-column: 2;
        padding: 20px;
    }
    
    #top-right h4{
        display: none;
    }
    
    #top-right h5{
        display: none;
    }
    
    #top-right h6{
        display: initial;
        font-size: 20px;
    }
    
    #center{
        grid-column: 1/3;
        padding: 10px 20px;
    }
    
    #center h1{
        font-size: 16.5vw;
        line-height: 14.5vw; 
    }
    
    #center h1:nth-child(2n){
        text-align: right;
    }
    
    #bottom{
        grid-column: 1/3;
        padding: 10px 20px;
    }
     
    #bottom p{
        text-align: center;
        font-size: 10px;
        width: 100%;
    }
    #right{
        grid-row: 4;
        grid-column: span 3;
        padding: 10px;
    }
    
    #right video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    
    #search-icon i{
        position: absolute;
        top: 25px;
        right: 55px;
    }
    
    #arrow{
        /* justify-self: center;
        align-self: center; */
        top: 54%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        padding: 10px;
    }
    
    #arrow i{
        font-size: 20px;
    }
}