*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #F8F7F4;
    position: relative;
    font-family: 'Mona Sans';
}
#page1{
    height: 130%;
    width: 100%;
    /* background-color: red; */
}
#nav{
    height: 12vh;
    width: 100%;
    /* background-color: rebeccapurple; */
    padding: 0 3vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-part1{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellow; */
}
#nav-part1 h4{
    font-weight: 600;
    font-size: 14px;
}
#nav-part1 h4:hover{
    cursor: pointer;
}
#nav img{
    height: 7vh;
    transform: translate(-50%, -50%); 
    position: absolute;
    top: 45%;
    left: 50%;
}

#nav-part2 button{
    font-size: 14px;
    padding: 2vh 1.7vw;
    border-radius: 50px;
    font-weight: 600;
    color: white;
    background-color: black;
    border: none;
    margin: 0 10px;
}
#nav-part2 button:hover{
    background-color: rgb(72, 71, 71);
    cursor: pointer;
}
#nav-part2 button:nth-child(1){
    color: black;
    background-color: transparent;
}
#content{
    height: calc(100% - 12vh);
    width: 100%;
    padding-top: 10vh;
}
#content h3{
    background-color: #f1d8a6;
    font-weight: 900;
    font-size: 16px;
    padding: 1vh 1vw;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    font-family: 'Source Serif 4';
}
#content h1{
    font-family: 'Source Serif 4';
    text-align: center;
    font-size: 75px;
    font-weight: 500;
    margin-top: 4vh;
    line-height: 75px;
}
#content h4{
    text-align: center;
    margin-top: 3vh;
    font-weight: 500;
    font-size: 20px;
}
#content button{
    font-size: 14px;
    padding: 2.3vh 1.7vw;
    border-radius: 50px;
    font-weight: 600;
    color: white;
    background-color: black;
    border: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 40px 0;
}
#content button:hover{
    background-color: rgb(72, 71, 71);
    cursor: pointer;
}
#bottom{
    height: 45%;
    width: 100%;
    padding: 2vh 0;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-color: red; */
    /* animation: scrollAnimation 24s linear infinite; */
}
#linear{
    display: inline-block;
    height: 100%;
    width: 90%;
    padding-left: 3vw;
    animation-name: scrollAnimation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* background-color: rebeccapurple; */
}
.elem{
    display: inline-block;
    height: 100%;
    width: 22%;
    margin-right: 3vw;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
}
@keyframes scrollAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#bottom::-webkit-scrollbar{
    display: none;
}
.elem:nth-last-child(1){
    margin-right: 0;
}
#text-bottom{
    height: 40%;
    width: 100%;
    bottom: 0;
    position: absolute;
    padding: 2vh 1.5vw;
    color: white;
    /* background-color: green; */
}
#text-bottom h4{
    font-weight: 600;
    font-size: 12px;
    margin-top: 3.5vh;
    line-height: 1.5vw;
    text-align: left;
}
#bottom-below{
    height: 50%;
    width: 100%;
    display: flex;
    padding-top: 1vh;
    align-items: flex-start;
    gap: .7vw;
    /* background-color: yellowgreen; */
}
#bottom-below h5{
    font-size: 10px;
    padding: .8vh .8vw;
    border-radius: 50px;
    border: .5px solid white;
    /* background-color: red; */
}
#text-bottom h4:nth-child(2){
    margin-top: 0;
}
#page2{
    height: 340%;
    width: 100%;
    padding: 2vw 4vw;
    position: relative;
    /* background-color:aqua; */
}
#page2 h1{
    font-size: 50px;
    font-weight: 350;
    text-align: center;
    margin-bottom: 50px;
}
#page2 .total-line{
    margin-bottom: 65px;
}
#page2 .line{
    display: inline-block;
    margin-right: 30px;
}
#page2 .line:nth-child(4){
    margin-right: 0;
}
#page2 .box{
    display: inline-block;
    height: 225px;
    width: 300px;
    border-radius: 10px ;
    overflow: hidden;
    position: relative;
    transition: all ease .3s;
}

#page2 .box:nth-child(4n){
    margin-right: 0;
}
#page2 .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page2 .box .box-bottom{
    height: 40%;
    width: 100%;
    position: absolute;
    bottom: -40%;
    background: linear-gradient(transparent,rgba(0, 0, 0, 0.484));
    transition: all ease .3s;
    color: white;
    padding: 5vh 1.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page2 .box .box-bottom h2{
    font-weight: 600;
    font-size: 16px;
}
#page2 .box .box-bottom i{
    background-color: white;
    color: black;
    padding: 1vw;
    font-weight: 590;
    border-radius: 50%;
}
#page2 .box .box-bottom i:hover{
    color: rgb(86, 86, 86);
}
#page2 .box:hover .box-bottom{
     bottom: 0;
}
#page2 .box:hover{
    cursor: pointer;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);

}
#page2 .auto-truncate {
    width: 150px; /* Adjust width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#page2 #bottom-line{
    height: 30px;
    width: 300px;
    /* background-color: yellow; */
    position: absolute;
    display: flex;
}
#page2 #bottom-line #bottom-line1{
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
}
#page2 #bottom-line #bottom-line2{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#page2 #bottom-line img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
#page2 #bottom-line img:hover{
    cursor: pointer;
}

#page2 #bottom-line .first{
    font-weight: 500;
    font-size: 14px;
    margin-left: 8px;
}
#page2 .truncated{
    width: 110px; /* Adjust width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#page2 #bottom-line .first:hover{
    cursor: pointer;
}
#page2 #bottom-line .second{
    color: white;
    background-color: rgba(0, 0, 0, 0.168);
    padding: .3vh .3vw;
    font-size: 11px;
    border-radius: 3px;
    font-weight: 600;
    margin-left: 8px;
    transition: all ease .3s;
}
#page2 #bottom-line .second:hover{
    cursor: pointer;
    background-color: black;
}
#page2 #bottom-line i{
    color: gray;
    /* margin-left: 10px; */
}
#page2 #bottom-line .ri-heart-3-fill:hover{
    cursor: pointer;
    color: rgb(212, 96, 135);
}
#page2 #bottom-line .ri-eye-fill{
    margin-left: 8px;
}

#page2 #bottom-line h6{
    font-size: 12px;
    font-weight: 500;
    margin-left: 3px;
}
#page2 #button{
    height: 100px;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding-top: 2vh;
}

#page2 #button button{
    font-family: 'Mona Sans';
    font-weight: 550;
    font-size: 14px;
    padding: 2vh 1.5vw;
    border-radius: 50px;
    position: absolute;
    background-color: transparent;
    transform: translateX(-50%);
    left: 50%;
    border: 2px solid black;
}
#page2 #button button:hover{
    color: gray;
    cursor: pointer;
}
#page3{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    padding: 6vh 0;
    padding-bottom: 10vh;
}
#page3 #internal{
    width: 100%;
    height: 100%;
    background-color: #FFDA79;
    padding: 15vh 0;
}
#page3 #internal h1{
    text-align: center;
    font-family: 'source Serif 4';
    font-size: 65px;
    font-weight: 500;
    line-height:70px;
    margin-bottom: 30px;
}
#page3 #internal h4{
    font-family: 'Mona Sans';
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
}
#page3 #two-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#page3 button{
    font-size: 14px;
    padding: 2.3vh 1.7vw;
    border-radius: 50px;
    font-weight: 600;
    color: white;
    background-color: black;
    border: none;
    margin: 40px 0;
}
#page3 button:hover{
    background-color: grey;
    cursor: pointer;
}
#page3 #white{
    font-size: 14px;
    padding: 2.3vh 1.7vw;
    border-radius: 50px;
    font-weight: 600;
    color: black;
    background-color: white;
    border: none;
    margin: 40px 0;
}
#page3 #white:hover{
    background-color: grey;
    cursor: pointer;
}
#page3 a{
    color: black;
}
#last-page{
    height: 60%;
    width: 100%;
    position: relative;
    /* background-color: burlywood; */
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}
#container{
    height: 50%;
    width: 100%;
    /* background-color: red; */
    padding: 2.5vh 0;
    padding-left: 3vw;
    display: inline-block;
    /* animation-name: scroller;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
    animation: 20s scroller infinite linear;
    margin-bottom: 7.5vh;
}
@keyframes scroller {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
#container img{
    height: 180px;
    width: 230px;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 4px -4px 0 #E2EBFD, 6px -6px 0 #F8F7F4, 10px -10px 0 #e9d8f9;
    border: 2px solid #F8F7F4;
    transition: all linear .3s;
    margin-right: 4vw;
}
#container img:nth-last-child(1){
    margin-right: 0;
}
#container img:hover{
    box-shadow: 7px -7px 0 #E2EBFD,  10px -10px 0 #F8F7F4, 18px -18px #e9d8f9;
    cursor: pointer;
}

#upper-bottom{
    height: 15%;
    width: 100%;
    /* background-color: red; */
    display: grid;
    position: relative;
    padding: 0 9vw;
    grid-template-columns: 15% 70% 15%;
    /* margin-bottom: 4vh; */
}
#upper-bottom img{
    height: 8vh;
    /* width: 100%; */
    object-fit: cover;
    grid-column: 1/2;
    align-items: center;
    /* background-color: yellow; */
}
#middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#middle h5{
    font-weight: 600;
    font-family: 'Mona Sans';
}
#middle h5:hover{
    cursor: pointer;
}
#socials{
    margin-left: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#socials i{
    font-size: 20px;
}
#socials i:hover{
    cursor: pointer;
}
#footer{
    height:calc(90% - (50% + 15%));
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9vw;
}
#footer-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}
#footer h5{
    font-weight: 400;
    font-size: 14px;
    color: rgb(93, 93, 93);
}
#footer h5:hover{
    cursor: pointer;
}
#footer-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
}

  

  