*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    height: 100%;
    padding: 0.1px;
    background-color: #F8F8F8;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#nav{
    width: 100%;
    height: 10vh;
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    /* background-color:aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h2{
    height: 100%;
    width: 20%;
    /* background-color: blueviolet; */
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
}
#nav h1{
    height: 100%;
    width: 25%;
    font-size: 38px;
    font-family: Monument Extended;
    letter-spacing: -1.5px;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#nav h1::after{
    content: "©";
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
    position: absolute;
    top: 15%;
    right: 15%;
}
#nav h1::before{
    content: "model management";
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    font-weight: 500;
    font-size: 0.8vw;
    letter-spacing: .1px;
    right: 20%;
    bottom: 15%;
    color: gray;
}
#nav h2:nth-last-child(1){
    width: 13%;
    border-right: none;
}
#nav h2:nth-last-child(2){
    width: 28%;
}

#center{
    height: 90%;
    width: 100%;
    /* background-color: brown; */
    padding: 6vh 12vh;
    position: relative;
}

#content{
    height: 100%;
    width: 100%;
    position: relative;
    /* background-color: antiquewhite; */
}

#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 52%;
    width: 100%;
    /* background-color: rebeccapurple; */
    position: absolute;
    bottom: 0;
    padding: 3vw;
}

#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 4vh;
}

#over1 h1{
    font-family: Monument Extended;
    font-size: 55px;
}

#over1 h2{
    font-size: 1.5vw;
    font-weight: 400;
    padding: 2vw;
    /* background-color: red; */
    border-radius: 50%;
    border: 0.5px solid white;
    /* border-bottom: 3px solid white; */
}

#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid white;
    /* padding-top: 1vh; */
}

#over2 h4{
    color: white;
    font-size: 25px;
    font-weight: 400;
}

#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: aqua; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
#container{
    display: inline-block;
    height: 100%;
    width: 110%;
    padding: 1vw;
    animation-name: anime;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* padding-top: 2vw; */
    /* background-color: blue; */
}
#container img{
    height: 75%;
    width: 13%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin: 2.2vw;
}

@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#alphabet{
    height: 12vh;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8vw;
    border-top: 2px solid black;
    margin-top: 2vh;
    border-bottom: 2px solid black;
}

#alphabet h5{
    font-size: 1.9vw;
    border-bottom: 2px solid black;
    font-weight: 500;
    font-style: italic;
    margin-right: 2vw;
    letter-spacing: 2px;
}

#alphabet h6{
    /* background-color: red; */
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 400;
    padding: 0.5vw 0.7vw;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all ease-in-out 0.2s;
    transform: scale(1);
}

#alphabet h6:hover{
    border: 1px solid rgb(0, 0, 0);
    transform: scale(1.5);
}

#page2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:normal;
    justify-content: space-between;
    padding: 8vh 7vw;
    padding-bottom: 0;
    /* background-color: red; */
}

#page2-part1{
    height: 100%;
    width: 55%;
    background-color: blue;
}

#page2-part2{
    height: 70%;
    width: 40%;
    background-color: red;
}

#page2-part1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page2-part2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position:bottom;
}

#bottom{
    margin-top: 4vh;
    height: 30%;
    display: flex;
    justify-content: space-between;
}

#bottom1{
    width: 40%;
    font-size: 1vw;
    font-weight: 600;
}

#bottom2{
    width: 50%;
    font-size: 0.9vw;
}

#page2-content{
    height: 15vh;
    width: 100%;
    padding-top: 3vh;
    padding-left: 7vw;
    /* background-color: yellowgreen; */
}

#page2-content h1{
    font-family: Monument Extended;
    text-transform: uppercase;
}
#page3{
    height: 100%;
    width: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8vh 7vw;
}

#left{
    width: 35%;
    height: 100%;
    /* background-color: red; */
}

#upper{
    width: 100%;
    height: 70%;
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#upper img{
    position: absolute;
}

#lower{
    height: 30%;
    width: 100%;
    display: flex;
    align-items:end;
    /* background-color: aqua; */
}
#lower h2{
    font-size: 1.8vw;
    font-weight: 500;
}
#right{
    height: 100%;
    width: 60%;
    /* background-color: yellowgreen; */
    overflow: hidden;
}

#right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.2);
}

#page4{
    height: 100%;
    width: 100%;
    /* background-color: brown; */
    padding: 8vh 7vw;
}

#page4-image{
    height: 100%;
    width: 100%;
    position: relative;
    /* background-color: aqua; */
}

#page4-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page4-image::after{
    content: "N";
    position: absolute;
    font-size: 1vw;
    padding: 0.5vh 0.8vw;
    border-radius: 50%;
    border: 2px solid black;
    right: 3vw;
    top: 3vh;
    /* background-color: yellowgreen; */
}

#page5{
    height: 100%;
    width: 100%;
    /* background-color: yellow; */
    padding: 8vh 7vw;
}
#page5>h1{
    text-align: center;
    font-size: 3.2vw;
    font-family: Monument Extended;
    text-transform: uppercase;
    margin-bottom: 10vh;
}

.elem{
    height: 22%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5vw;
    position: relative;
    /* background-color: red; */
    border-top: 2px solid black;
    transform: scale(1);
    transition: all .2s ease-in-out;
}
.elem h4{
    font-size: 1.2vw;
    font-weight: 500;
    width: 8%;
    /* background-color: rebeccapurple; */
    text-transform: uppercase;
}

.elem #elem-content{
    /* background-color: red; */
    width: 50%;
}

.elem #elem-content h1{
    font-size: 3vw;
    font-weight: 500;
}
.elem #elem-content h5{
    text-transform: uppercase;
}
.elem img{
    position: absolute;
    height: 14vh;
    width: 8vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: 80% 30%;
    left: 16vw;
}

.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}
.elem:hover{
    cursor: pointer;
    /* background-color: aliceblue; */
    transform: scale(1.1);
}
#page6{
    height: 100%;
    width: 100%;
    /* background-color: yellowgreen; */
    padding: 8vh 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page6 #left{
    height: 100%;
    width: 48%;
    background-color: brown;
}
#page6 #left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page6 #right{
    height: 100%;
    width: 48%;
    display: flex;
    /* align-items:center; */
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
    /* position: relative; */
}
#page6 #right #uppers{
    height: 50%;
    width: 100%;
    /* background-color: aqua; */
}
#page6 #right #lowers{
    height: 50%;
    width: 100%;   
    /* background-color: black;  */
    display: flex;
    align-items: end;
    justify-content: space-between;
}
#page6 #right #lowers #lower1{
    width: 52%;
    height: 100%;
    overflow: hidden;
    /* background-color: red; */
}
#page6 #right #lowers #lower2{
    width: 42%;
    height: 100%;
    overflow: hidden;
    /* background-color: red; */
}
#page6 #right #lowers #lower2 img{
    object-position: top;
}
#page6 #right #uppers h1{
    font-family: Monument Extended;
    text-transform: uppercase;
    font-size: 3vw;
}
#page6 #right #uppers h2{
    margin-top: 3vh;
    font-weight: 500;
    width: 70%;
}
#page6 #right #uppers h4{
    margin-top: 5vh;
    font-weight: 400;
}
#page7{
    height: 100%;
    width: 100%;
    padding: 8vh 7vw;
    /* background-color: yellowgreen; */
}
#page7-image{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: aqua;
}
#page7-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page7-image::after{
    content: "R";
    position: absolute;
    font-size: 1vw;
    padding: 0.5vh 0.8vw;
    border-radius: 50%;
    border: 2px solid black;
    right: 3vw;
    top: 3vh;
    /* background-color: yellowgreen; */
}

#page8{
    height: 100%;
    width: 100%;
    padding: 0 7vw;
    padding-bottom: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellowgreen; */
}
#page8 #left{
    height: 100%;
    width: 55%;
    /* background-color: brown; */
}
#page8 #left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page8 #right{
    height: 100%;
    width: 41%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: brown; */
}
#page8 #right #up{
    height: 70%;
    width: 100%;
    overflow: hidden;
    /* background-color: aqua; */
}
#page8 #right #below{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page8 #right #below #below1{
    width: 45%;
    height: 100%;
}
#page8 #right #below #below1 h2{
    font-size: 1.8vw;
    font-weight: 600;
}
#page8 #right #below #below2{
    width: 45%;
    height: 100%;
}
#page8 #right #below #below2 h3{
    font-weight: 500;
}
#page9{
    height: 100%;
    width: 100%;
    padding-top: 8vh;
    /* background-color: red; */
}
#marque{
    /* height: 15vh; */
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 1vh 0;
    /* background-color: yellowgreen; */
}
#marque h1{
    display: inline-block;
    font-size: 3.5vw;
    font-family: Monument Extended;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 900;
    word-spacing: 0.5vw;
    margin-right: 0.5vw;
    animation-name: word-scroller;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-text-stroke: 2px black;
    color: transparent;
}

@keyframes word-scroller {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#grid-div{
    height: 85%;
    width: 100%;
    padding: 0 8vw;
    padding-top: 10vh;
    padding-bottom: 2vh;
    /* background-color: yellow; */
}

#sample{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 40% 60%;

}
#top-left{
    grid-column: 1;
    grid-row: 1;
    /* background-color: black; */
}
#top-left h1{
    font-family: Monument Extended;
    text-transform: uppercase;
    font-size: 3vw;
}
#top-middle{
    grid-column: 2/3;
    grid-row: 1;
    margin-right: 4vw;
    /* background-color: rebeccapurple; */
}
#top-middle h2{
    font-size: 2vw;
    line-height: 4.5vh;
    font-weight: 500;
    /* margin-top: 3vh; */
}
#top-middle h2::before{
    content: "B";
    /* position: absolute; */
    font-size: 1.2vw;
    padding: 0.5vh 0.8vw;
    border-radius: 50%;
    border: 2px solid black;
    left: 0;
    top: 0;
    margin: 0.8vw;
}
#top-end{
    grid-column: 3;
    grid-row: 1;
    /* background-color: red; */
}
#top-end h2{
    font-size: 2vw;
    line-height: 4.5vh;
    font-weight: 500;   
}
#top-end h2::before{
    content: "B";
    /* position: absolute; */
    font-size: 1.2vw;
    padding: 0.5vh 0.8vw;
    border-radius: 50%;
    border: 2px solid black;
    left: 0;
    top: 0;
    margin: 0.8vw;
}
#bottom-middle{
    margin-right: 4vw;
    grid-column: 2;
    grid-row: 2;
    /* background-color: grey; */
}
#bottom-middle img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#bottom-end{
    grid-column: 3;
    grid-row: 2;
    /* background-color: green; */
}
#bottom-end img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#last-page{
    height: 50%;
    width: 100%;
    padding: 6vh 0;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 40% 60%;
    /* background-color: yellowgreen; */
}

#first{
    border-top: 2px solid black;
    grid-column: 1;
    grid-row: 1;
    padding-top: 1.5vw;
    /* background-color: red; */
    position: relative;
}
    #first h1{
    height: 70%;
    width:60%;
    font-size: 38px;
    font-family: Monument Extended;
    letter-spacing: -1.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#first h1::after{
    content: "©";
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
    position: absolute;
    top: 20%;
    right: 16%;
}

#first h1::before{
    content: "model management";
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    font-weight: 500;
    font-size: 0.8vw;
    letter-spacing: .1px;
    right: 20%;
    bottom: 15%;
    color: gray;
}
#first h2{
    margin-top: 1vw;
    position: absolute;
    right: 10%;
    top: 22%;
    font-weight: 500;

}
#second{
    grid-column: 2;
    grid-row: 1/3;
    position: relative;
    border: 2px solid black;
    /* background-color: white; */
}
#second>h2{
    font-weight: 500;
    position: absolute;
    top: 5.5vh;
    left: 4.5vw;
}
#third{
    grid-column: 3;
    grid-row: 1;
    position: relative;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    /* background-color: blue; */
}
#third h2{
    font-weight: 500;
    position: absolute;
    top: 5.5vh;
    left: 4.5vw;
}
#fourth{
    grid-column: 3;
    grid-row: 2;
    padding: 3vh 4vw;
    /* padding-left: 4vw; */

    border-bottom: 2px solid black;
    /* background-color: aqua; */
}
#socials{
    font-size: 1.5vw;
    margin-bottom: 2.5vh;
}
#socials i{
    margin-right: 2vw;
    color: rgb(76, 76, 76);
}
#fourth h4{
    font-size: 16px;
    font-weight: 500;
}
#fourth h3{
    font-size: 1.2vw;
    font-weight: 500;
}
#fifth{
    grid-column: 1;
    grid-row: 2;
    border-bottom: 2px solid black;
}









