* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Plain';
}
/* #crsr{
    position: absolute;
    height: 2vw;
    width: 2vw;
    border: .5px solid white;
    border-radius: 50%;
    z-index: 99999999;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
} */
.mouseFollower{
    border: 2px solid white;
    scale: 2;
    background-color: transparent;
    mix-blend-mode: difference;
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    padding: 20vh 8vw;
    background-color: black;
}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2vw;
    /* background-color: red; */
}

#line-counter{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    gap: 1vw;
    padding: 0 4vw;
}

#line-counter h5{
    font-size: 3vw;
    font-weight: 200;
    font-family: 'Silk Serif';
}
#line-counter #counter-num{
    /* background-color: red; */
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 7vw;
    line-height: 7.5vw;
    text-transform: uppercase;
    font-weight: 500;
}

.line h1:nth-last-child(1){
    height: 7vw;
}
.line span{
    animation-name: fontChanger;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes fontChanger {
    0%{
        font-family: 'Plain'; 
        opacity: 1;
    }
    49%{
        font-family: 'Plain'; 
        opacity: 0;
    }
    50%{
        font-family: 'Silk Serif';
        -webkit-text-stroke: 0.5px #fff;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: 'Silk Serif';
        -webkit-text-stroke: 0.5px #fff;
        color: transparent;
        opacity: 0;
    }
}
#loader-footer{
    bottom: 25%;
    left: 25%;
    position: absolute;
    /* background-color: red; */
}
#loader-footer h6{
    font-size: 1.2vw;
    font-weight: 100;
    line-height: 1.5vw;
}

#main{
    position: relative;
    background-color: #151515;
}
#page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #151515;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6.4vh 0;
    padding-left: 9vw;
    padding-right: 5.2vw;
    /* background-color: red; */
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
}

#nav-part2 h4{
    font-size: 1.1vw;
    font-weight: 200;
}

#hero-container{
    /* background-color: red; */
    width: 67vw;
    margin: 10vh 5% 0 28%;
    position: relative;
}

#hero-container h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 6.5vw;
    font-weight: 500;
}
#hero-container::before{
    content: "01";
    position: absolute;
    left: -10vw;
    font-family: 'Silk Serif';
    font-size: 3.5vw;
}
#hero-container .hero{
    display: flex;
    overflow: hidden;
    padding-bottom: 1vw;
    height: 7.5vw;
}

#hero-container .hero #special-border:nth-child(1)::before{
    content: "";
    left: 2%;
    top: 107%;
    /* right: 0; */
    height: 1vh;
    width: 15vw;
    position: absolute;
    background-color: #fff;
    transition: opacity 0.3s ease-in-out;
}
#hero-container .hero #special-border:nth-child(3)::before{
    content: "";
    left: -2%;
    top: 107%;
    /* right: 0; */
    height: 1vh;
    width: 34vw;
    position: absolute;
    background-color: #fff;
    transition: opacity 0.3s ease-in-out;
}
#hero-container .hero #special-border:hover {
    -webkit-text-stroke: 1px white;
    color: transparent;
}

#hero-container .hero #special-border:hover::before {
    opacity: 0;
}
#page2{
    height: 100vh;
    width: 100%;
    padding:12vh 0;
    position: relative;
    background-color:  #151515;
}

#page2 #video-container{ 
    height: 60vh;
    width: 70vw;
    position: relative;
    left: calc(100% - 70vw);
    background-color: red;
}

#page2 #video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}

#page2 #video-container video{
    height: calc(100% - 1px);
    width: 100%;
    object-fit: cover;
}

#page2 #video-container #video-cursor{
    height: 10.5vw;
    width: 10.5vw;
    border-radius: 50%;
    background-color: #FFA63D;
    position: absolute;
    z-index: 99;
    left: 67%;
    top: -18%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 #video-container #video-cursor i{
    font-size: 2.5vw;
}

#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    /* background-color: #403a3a; */
    padding-top:90vh;
    padding-bottom: 120vh;
}
#page3 h1{
    width: 67vw;
    margin-left: 28%;
    margin-right: 5%;
    position: relative;
    font-size: 7.5vw;
    text-transform: uppercase;
    font-weight: 500;
}
#page3 h1::before{
    content: "02";
    position: absolute;
    left: -12vw;
    top: .8vw;
    font-family: 'Silk Serif';
    font-size: 3.5vw;
}
#page3>.underline{
    margin-left: 28%;
    margin-right: 5%;
    height: .10vh;
    width: auto;
    background-color: #fff;
    margin-top: 10vh;
    margin-bottom: 7vh;
    position: relative;
}

#page3 #grid-middle-container{
    margin: 20vh 5vw;
    /* background-color: red; */
    height: fit-content;
    display: grid;
    grid-template-columns: 1.6fr 2fr 2.2fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 2vw;
    position: relative;
}
#one, #seven{
    /* background-color: blue; */
    height: 86.4vh;
    border-bottom: .15vw solid #fff;
}
#one span, #two span, #five span, #six span, #nine span{
    text-transform: uppercase;
    font-size: 2.8vw;
}
.image-line1{
    margin: 5vh 0;
    width: 100%;
    height: 70%;
    /* background-color: rebeccapurple; */
    overflow: hidden;
}
.image-line1 img, .image-line2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.image-bottom-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.image-bottom-div p{
    font-weight: 100;
}
#five{
    position: relative;
    top: 20vh;
    padding-bottom: 5vh;
}
#two, #five{
    /* background-color: rgb(255, 0, 140); */
    height: 104vh;
    border-bottom: .15vw solid #fff;
}
#six, #nine{
    height: 100vh;
    border-bottom: .15vw solid #fff;
}
#five{
    height: fit-content;
}
.image-line2{
    margin: 5vh 0;
    width: 100%;
    height: 72%;
    /* background-color: rebeccapurple; */
    overflow: hidden;
}
#three, #eight{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
}
#four{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}
.inner-circle{
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all ease-in-out .3s;
    transition-delay: .6s;
}
.inner-circle svg{
    height: 35%;
}
#four .inner-circle svg{
    rotate: -45deg;
}
#eight .inner-circle svg{
    rotate: -90deg;
}
.inner-circle .circle-in-text{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    scale: 0;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .4s;
}
.circle-in-text p{
    font-weight: 100;
    color: black;
    scale: 0;
    opacity: 0;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .4s;
    transition-delay: .6s;
}
#three .circle-in-text p{
    width: 85%;
}
#page3 .inner-circle:hover .circle-in-text{
    scale: 1;
}
#page3 .inner-circle:hover p{
    scale: 1;
    opacity: 1;
}
#seven{
    position: relative;
    top: -12vh;
}
#seven span{
    font-size: 2.8vw;
}
#nine{
    position: relative;
    top: 10vh;
}
/* ******** PAGE 4 ******** */

#page4{
    min-height: 100vh;
    /* height: 220vh; */
    width: 100%;
    position: relative;
    padding-top: 8vh;
    background-color: #151515;
}
#page4 #page4-container{
    width: 67vw;
    margin-left: 28%;
    margin-right: 5%;
    position: relative;
}
#page4 #page4-container::before{
    content: "03";
    position: absolute;
    left: -12vw;
    top: .8vw;
    font-family: 'Silk Serif';
    font-size: 3.5vw;
}
#page4 #page4-container h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    font-weight: 500;
}

.underline{
    height: .10vh;
    width: 100%;
    background-color: #fff;
    margin-top: 10vh;
    margin-bottom: 7vh;
    position: relative;
}
#page4 #page4-container>p{
    width: 55%;
    font-size: 2.35vw;
    font-weight: 350;
    margin-bottom: 8vh;
}

#page4 #page4-flex{
    display: flex;
}
#page4 #page4-flex img{
    width: 49%;
    margin-right: 2vw;
}
#page4 #page4-flex p{
    font-size: 1.1vw;
    font-weight:100;
    line-height: 1.5vw;
    width: 30%;
}

#page4 #page4-container #page4-bluebox{
    width: 33vw;
    background-color: #3F7DF4;
    position: relative;
    margin-left: 34%;
    margin-top: -30vh;
    padding: 4.5vw 4vw;
}

#page4 #page4-bluebox .bluebox-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw 0;
    border-bottom: .1vw solid #fff;
}
#page4 #page4-bluebox .bluebox-content:nth-child(1){
    padding-top: 1.5vw;
}
#page4 #page4-bluebox .bluebox-content h2{
    font-weight: 100;
    font-size: 1.6vw;
    width: 55%;
}
#page4 #page4-bluebox .bluebox-content h4{
    width: 40%;
    font-weight: 100;
    font-size: 1vw;
}
.underline:nth-last-child(2){
    margin-bottom: 4vh;
}
#page4 #page4-container h5{
    font-size: 1.1vw;
    font-weight: 100;
}
#last-circle{
    height: 23vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#orange-circle{
    height: 23vw;
    width: 23vw;
    background-color: #FFA63D;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all ease-in-out .3s;
}
#orange-circle span{
    font-family: 'Silk Serif';
}

#orange-circle:hover{
    scale: 0.9;
}
/* ****** PAGE 5 ******** */

#page5{
    min-height: 100vh;
    width: 100%;
    padding-top: 13vh;
    background-color: #151515;
}
#page5 .slide{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2.5vw;
}
#page5 .slide h1, #page5 .slider h1{
    display: inline-block;
    /* background-color: red; */
    font-size: 7.5vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    margin-left: 2vw;
    animation: sliding 18s infinite linear;
}

@keyframes sliding {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 2vw));
    }
}

#page5 .slider{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2.5vw;
}
#page5 .slider h1{
    transform: translateX(calc(-100% - 2vw));
    animation-direction: reverse;
}

#page5 .slide span, #page5 .slider span{
    font-family: 'Silk Serif';
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

#footer{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 7vh;
    background-color: #151515;
}
#footer #footer-container{
    width: 67vw;
    margin-left: 28%;
    margin-right: 5%;
    position: relative;
}

#footer #footer-container::before{
    content: "04";
    position: absolute;
    left: -12vw;
    top: 1.4vw;
    font-family: 'Silk Serif';
    font-size: 3.5vw;
}
#footer #footer-container .topper{
    height: 10vw;
    display: flex;
    align-items: center;
    gap: 2vw;
}
#footer #footer-container h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 500;
}
#footer #footer-container h1:hover{
    font-family: 'Silk Serif';
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

#footer #footer-container #grid-box{
    height: 37vh;
    display: grid;
    padding-top: 2vw;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: 20% 80%;
    grid-row-gap: 1vw;
    /* background-color: red; */
}
#footer #footer-container h4{
    margin-top: 2vw;
    font-weight: 100;
}
.socials, .address, .hi{
    align-self: center;
}

.first p, .second p, .third p{
    font-size: 1.8vw;
    line-height:1.8vw;
    font-weight: 100;
}

._canvas_container{
    z-index: 9999 !important;
    pointer-events: none;
}